[build]
builder = "nixpacks"
buildCommand = "pip install -r requirements.txt"

[deploy]
startCommand = "python manage.py collectstatic --noinput && python manage.py migrate && gunicorn covise.wsgi --log-file -"